.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.usersPage {
  margin: 1em;
  .pagePagination {
    span {
      padding: 5px;
    }
    .selectedPage {
      color: gold;
    }
  }
}